#logo {
  font-family: "GilbertGoldColor", sans-serif;
  grid-row: 1;
  grid-column: 1;
}

@font-face {
  font-family: 'GilbertGoldColor';
  src: url("fonts/Gilbert-Color\ Bold\ Preview5.otf")
}

@font-face {
  font-family: 'FiraSans';
  src: url("fonts/FiraSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url("fonts/FiraSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "FiraSans", sans-serif;
  margin: 0;
  background-color: #F1EBFF;
  color: #4F2B79;
}

aside {
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

aside>img {
  width: 100%;
  margin-top: 8px;
}

.main-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 32px;
  width: 90%;
  max-width: 1024px;
  margin: auto;
  margin-bottom: 60px;
}

body>nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

  & a,
  & a:visited {
    color: #431d70;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1em;
  }

  & a:hover {
    color: #61d7b6;
  }

  .nav-wrapper {
    max-width: 1024px;
    margin: auto;
    display: flex;
    column-gap: 80px;
    align-items: center;
  }
}

img#logo {
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 47px;
}

.active {
  font-weight: bold;
}

#feed {
  grid-row: 1;
  grid-column: 2;
}

#profile {
  grid-row: 1;
  grid-column: 3;
}

body>main {
  padding-top: 8em;
}


button {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  height: 3em;
  color: #61d7b6;
  font-size: 1em;

}

button.primary {
  background-color: #61d7b6;
  color: #431d70;
  font-weight: bold;
}

button>img,
button>span {
  vertical-align: middle;
}

button>span {
  margin-left: .5em;
}

.new-post-widget>form {

  padding-bottom: 2em;
  display: grid;
  grid-template-areas:
    "profile-picture textarea textarea textarea textarea"
    ". photo video . send";
  grid-template-columns: 55px 1fr 1fr 1fr 1fr;

  grid-gap: 16px;

  & img {
    grid-area: profile-picture;
  }

  & textarea {
    grid-area: textarea;
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 1em;
    resize: none;
    height: 5em;
  }
}

#post-photo {
  grid-area: photo;
}

#post-video {
  grid-area: video;
}

#new-post {
  grid-area: send;
}

main>article {
  background-color: white;
  max-width: 60%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 24px;
}

.post {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin-bottom: 16px;

  display: grid;
  grid-template-areas:
    "header header"
    ". post"
    ". statistic";

  grid-template-columns: 54px 1fr;
  column-gap: 16px;

  .post-header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    grid-area: header;

    .post-header-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .post-info {
      grid-column: 1;
      grid-row: 1;

      .username {
        color: #61D7B6;
        font-size: 20px;
        margin-right: 8px;
      }

      .time {
        color: #B8B8B8;
        font-size: 16px;
      }
    }

    .post-interaction {
      display: flex;
      column-gap: 8px;
    }

    .post-interaction>button {
      height: 44px;
      width: 44px;
      background-color: #E2FAF3;
      border: 1px solid #61D7B6;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        animation: pulse 2s infinite;
      }
    }
  }

  .post-body {
    grid-area: post;
    font-size: 16px;
    line-height: 24px;
  }

  .post-body>img {
    max-height: 200px;
  }

  .statistic {
    grid-area: statistic;
  }

  .statistic>ul {
    color: #B8B8B8;
    list-style: none;
    display: flex;
    column-gap: 24px;
    margin: 0;
    padding: 0;
  }

  .statistic li {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .statistic>img {
    height: 16px;
  }
}

.profile-picture {
  height: 54px;
  width: 54px;
  border-radius: 100%;
}

img#logo {
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
}


#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #61D7B6;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 rgb(97, 215, 182, 1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(97, 215, 182, 0.7);
  }

  80% {
    box-shadow: 0 0 0 8px rgb(97, 215, 182, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(97, 215, 182, 0);
  }
}

#flying-cat {
  height: 100px;
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 1000;
  display: none;
}

#flying-cat:target {
  display: block;
  animation-name: flying-cat;
  animation-duration: 5s;
}

@keyframes flying-cat {
  from {
    left: 0;
  }

  50% {
    left: 90%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  51% {
    left: 90%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  to {
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}